beautifulsoup4==4.11.1
html5lib==1.1
jupyterlab==4.0.2
kaleido==0.2.1
numpy==1.23.4
pandas==1.5.1
plotly==5.15.0
scipy==1.9.3
scikit-learn==0.24
matplotlib==3.7.2
seaborn==0.12.2
pymupdf==1.22.5
lexnlp==2.3.0
thefuzz==0.19.0
python-Levenshtein==0.21.1
spacy==3.5.3
transformers==4.30.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz